<div class="carousel carousel-slider center" style="height:250px;">

  <div style="background-image: url('../../assets/img/pageheader_1024x400__maldives.jpg'); visibility: visible;" class="carousel-item carousel-img" href="#one!" ></div>

</div>

<div class="container">
  <h2>About TravisLi</h2>
  <h5>I am passionate about traveling the world, seeing new things and experiencing new cultures.  The idea of sharing this passion every day with others is one of the most motivating parts of my job as a travel planner.</h5>

  <p>Beyond that, the stronger emotion is my desire to delight my clients with their dream holiday, executed flawlessly, complete with little surprises and hidden treasures along the way.  Far exceeding the joy of talking travel is the ultimate joy of hearing my clients tell me about the wonderful experiences they had and how much they loved their holiday that began as a dream.  My goal is always to exceed expectations.  I would love to collaborate with you on your next trip!</p>

  <p>Here's to traveling well and traveling often!</p>

  <ul>
    <li>Travel Specialties</li>
    <li>Luxury</li>
    <li>Adventure</li>
    <li>VIP & Executives</li>
    <li>Solo & Groups</li>
    <li>Health, Wellness & Spa Retreats</li>
  </ul>

</div>
