
// -------------------------------
// COLORS

// WHITE
$white: #FFFFFF;
$white_80: rgba(255, 255, 255, 0.8); // White @ 80% opacity

// GOLDS
$gold_dark: #BD9F53; //
$gold_light: #D7CA9E;
$gold_light_20: rgba(216, 202, 158, 0.2);

// GREYS
$faint_grey: #e6e6e6; // borders
$light_grey: #9e9e9e; //
