// IMPORTS
@import "../../sass/variables"; // Variables

#section_videomodal{
  background-color: $gold_light_20;
  background-image: url('../../../assets/img/san_francisco__00.png');
  background-size: cover;
  height: 400px;
  position: relative;
}



a {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 0;
  border: none;
  bottom: 0;
  height: 80px;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 1;

  .container{
    background-color: transparent;
    height: inherit;

    .components {
      display: flex;
      background-color: transparent;
      height: inherit;
      position: relative;

      i {
        font-size: 80px;
        color: #FFF;
        background-color: transparent;
        height: inherit;
        line-height: 80px;
      }

      h3 {
        font-size: 16px;
        padding: 25px 0 0 0;
      }

    }

  }
  &:hover {
      background-color: $gold_light_20;
  }
}
