<div class="carousel carousel-slider center" style="height:250px;">

  <div style="background-image: url('../../assets/img/pageheader_1024x400__lamma.png'); visibility: visible;" class="carousel-item carousel-img" href="#one!" ></div>

</div>

<div class="container">
  <h2 id="h2_pagetitle">Why</h2>
  <h5>Yes, you can book travel yourself – but why would you want to?</h5>

  <p>Of all your life priorities, your free time is one asset you simply cannot get back.  People who spend their time wisely know it pays dividends to collaborate with a seasoned industry professional when it comes to fulfilling travel dreams.  Travis Li Luxury Travel design provides personal, entirely customized services before, during, and after every trip.  Whether you enjoy being involved in your vacation planning, or prefer someone you trust takes the reins, we are uniquely vested in making your travel dreams a reality.</p>


  <h6>What is Virtuoso</h6>
  <p>Virtuoso is an invitation-only network of the world’s finest travel advisors.  This private network allows privileged access to exclusive amenities, travel offers, rare experiences and personal connections throughout the globe that you cannot get on your own.</p>

  <h6>Why should I use a Virtuoso Member Travel Advisor?</h6>
  <p><strong>Global connections:</strong> With personal contacts at over 1,000 airlines, cruise lines, hotels, resorts, and premier destinations worldwide, your Virtuoso affiliated travel advisor puts their relationships to work for you to provide unmatched value.  Virtuoso travel advisors can arrange VIP treatment from room upgrades, complimentary meals and spa treatments to private tours and private car transfers at no additional cost.</p>

  <p><strong>Expertise:</strong> Virtuoso affiliated advisors are among the most well-traveled people in the world.  They are able to draw upon their first-hand experience when customizing vacations for you.</p>

  <p><strong>Travel Experiences Created Just for You:</strong> From weekend getaways to trips of a lifetime, and everything in between, counting on the expertise of a Virtuoso affiliated advisor ensures your vacation dreams become a reality.</p>

  <p><strong>Confidence:</strong> When you have a relationship with a Virtuoso affiliated travel advisor, you’ll know your personal preferences are reflected in every aspect of each vacation they design for you.</p>

  <p><strong>Time:</strong> Because Virtuoso affiliated travel advisors are experts in planning and booking vacations, they can create a wonderful itinerary for you in a more time-efficient way than you could on your own.  This is especially true for trips involving groups, multiples stops and numerous travel providers.</p>

  <p><strong>Peace of Mind:</strong> Like a valued investment manager, Virtuoso travel advisors are trusted with managing your most precious asset – your free time.  Working with an expert who knows your preferences as well as the best options for your vacation eliminates risk, and results in the most memorable experiences.  The advisor is your ongoing partner in planning and booking treasured travel experiences that will live in your memory forever.  You can rely on your Virtuoso travel advisor before, during and after every trip.</p>

</div>
